<table class="w-full">
  <thead>
    <tr>
      <th class="header">Nome enviado</th>
      <th class="header">Nome bibliográfico</th>
      <th class="header"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @authors %>
  </tbody>
</table>