<div class="mx-auto w-2/3 my-10">
  <h1 class="uppercase text-lg text-blue-400 font-bold mb-3">Autores</h1>

  <div class="bg-white rounded shadow-xl">
    <%= form_tag preview_authors_path do %>
      <div class="px-6 py-5">

        <% if alert %>
          <div class="mb-5 rounded border border-yellow-600 bg-yellow-200 text-yellow-600 px-3 py-2 shadow">
            <%= alert %>
          </div>
        <% end %>

        <p class="text-gray-500 text-sm mb-4">Insira o nome dos autores, um nome por linha</p>
        <%= text_area_tag :name_list, nil, rows: 7, class: 'w-full border border-gray-500 rounded px-3 py-2' %>

      </div>
      <div class="bg-gray-200 px-6 py-3 rounded-b flex flex-row-reverse">
        <%= submit_tag 'Carregar e visualizar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>